name: tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.9'
          architecture: 'x64'
          cache: 'pip'
      - name: Install streamlit
        run: pip install streamlit
      - name: Install tensorflow
        run: pip install tensorflow==2.8.0
      - name: Test with tests
        run: python3 -m tests